@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #243949 0%, #517fa4 100%);
    position: relative;
    overflow: hidden;
}
.notfoundstyle {
        text-align: center;
        align-items: center;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        padding: 20vh; 
        font-size: 4rem;
        color: black; 
        background: white;
        height: 100vh;
}