.container {
    display: flex;
    padding: 5rem;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    background: transparent;
}
.detailsbg {
    background: url(../../../public/media/detail-img.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 20rem;
    align-items: center;
    gap: 1rem;
    height:100vh;
}

.asi {
    background-image: url(../../../public/media/hr.jpg);
    height:50vh;
    width:auto;
}