.container {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    background: url(../../../public/media/booking-wp.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    padding: 4rem;
}
@media (min-width:1800px){
    .container{
        height:100vh;
    }
}
@media (max-width: 767px) {
    .container {
        background-size: cover;
    }
}
.h1 {
        display: flex;
        font-weight: 800; 
        font-family: Blue Sans, Roboto, Helvetica, Arial, sans-serif;
        justify-content: center;
        font-size: 48px; 
        color: white;
}
.loading-bar {
    position: relative;
    width: 110px;
    height: 110px;
    background: transparent;
    border: 0px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    color: #fff000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    font-weight: bold;
}

    .loading-bar:before {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-top: 5px solid #fff000;
        border-right: 5px solid #fff000;
        border-radius: 50%;
        animation: animateC 2s linear infinite;
    }

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.banner {
    position: relative;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 0.2));
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    top: 0;
    bottom: 0;
}
.bannerForm {
    display: flex;
    color: white; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.spanStyle {
    font-size: 0.9rem;
    color: white; 
    display: flex;
    align-items: center;
}


.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap; 
}
.label {
    font-size: 0.9rem;
}
.input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    color: grey;
    font-size: 1rem;
}
.cardButtons {
    display: flex; 
    justify-content: center; 
    gap: 2rem; 
    flex-wrap: wrap;
}

.button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

    .button:hover {
        background-position: right center;
        background-size: 200% auto;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
    }

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}


.informations {
    display: flex; 
    position: relative; 
    background: transparent;
    justify-content: center;
    font-size: 1.5rem;
    font-family: cursive;
    flex-direction:column;
    align-items:center;
    padding:4rem;
    height:auto;
}



.ui-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    --checkmark-size: 1.2;
}

    .ui-checkbox,
    .ui-checkbox *,
    .ui-checkbox *::before,
    .ui-checkbox *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

    .ui-checkbox::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
        box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
        border-radius: inherit;
        opacity: 0;
        -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
        -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
        transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    }

    .ui-checkbox::before {
        top: 40%;
        left: 50%;
        content: "";
        position: absolute;
        width: 4px;
        height: 7px;
        border-right: 2px solid var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
        -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
        -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
        transform: translate(-50%, -50%) rotate(45deg) scale(0);
        opacity: 0;
        -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
        -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
        transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    }
    .ui-checkbox:hover {
        border-color: var(--primary-color);
    }

    .ui-checkbox:checked {
        background: var(--primary-color);
        border-color: transparent;
    }

        .ui-checkbox:checked::before {
            opacity: 1;
            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
            transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
            -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        }

    .ui-checkbox:active:not(:checked)::after {
        -webkit-transition: none;
        -o-transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        transition: none;
        opacity: 1;
    }


@media (min-width: 1200px) {
    .h1 {
        font-size: 64px;
    }

    .form {
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        height: auto;
        padding: 1rem;
    }

    .h1 {
        font-size: 2rem;
        gap: 1rem;
        text-align: center;
    }

    .form {
        flex-direction: column;
        gap: 1.5rem;
    }
}
@media (min-width: 1450px) and (max-width:1850px) {
    .container {
        height: auto;
        padding: 1rem;
    }

    .h1 {
        font-size: 2rem;
        gap: 1rem;
        text-align: center;
    }

    .form {
        flex-direction: row;
        gap: 1.5rem;
    }

}

@media (min-width: 1199px) and (max-width:1450px) {
    .container {
        height: auto;
        padding: 1rem;
    }
    .h1 {
        font-size: 2rem;
        gap: 1rem;
        text-align: center;
    }

.form {
    flex-direction: column;
    gap: 1.5rem;
}

}
@media (max-width: 767px) {
    .container {
        height: auto;
        padding: 1rem;
    }

    .h1 {
        font-size: 2rem;
        gap:1rem;
        margin-top:3rem;
        text-align: center;
    }

    .form {
        flex-direction: column;
        gap: 1rem;
    }

    .input {
        width: 100%;
    }

    .button {
        width: 100%;
        font-size: 14px;
    }
}
