.navbar {
    @apply flex-row flex text-custom-baslik justify-evenly items-center font-semibold p-5 top-0 fixed z-50 w-full px-8 py-5 transition-all ease-in-out duration-100 rounded-none border-0 border-white border-opacity-40 bg-opacity-10 shadow-lg shadow-black/[0.03] backdrop-blur-[0.2rem] bg-white;

    @apply lg:justify-evenly lg:flex-row; 
    @apply md:flex-row md:justify-between;
    @apply flex-row justify-evenly; 
}

.link {
    position: relative;
    opacity: 1;
    @apply text-base lg:text-lg md:mb-0 mb-4;
}

.home-link {
    position: relative;
}

.link::after, .link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: none;
    display: block;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.link:focus:after,
.link:hover:after {
    width: 100%;
    left: 0%;
}

.link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: teal;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.button {
    border: none;
    padding: 8px 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    @apply lg:mr-2; 
}

.span {
    display: inline-block;
    transform: skew(21deg);
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.button:hover {
    color: #fff;
}

    .button:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
    }
